DATABASE_URL="postgres://postgres:postgres@localhost:5432/glitchtip"
SECRET_KEY="glitchtip"
REDIS_HOST=localhost
REDIS_URL=redis://default:redis@localhost:6379/13
# EMAIL_URL="smtp://diwa.perkasa:oipfumppwbmrekby@smtp.gmail.com:465"
# EMAIL_URL="smtp://postmaster@sandbox5a38c7ced36d4c638913bafa9b5bee8c.mailgun.org:14a45189049dcedfca7647cc4ef8daf9-78651cec-84aff5b7@smtp.mailgun.org:587"
DEFAULT_FROM_EMAIL="diwa.perkasa@gmail.com"
GLITCHTIP_DOMAIN="http://glitchtip.local"
ENABLE_OPEN_USER_REGISTRATION=FALSE
DEBUG=FALSE
CSRF_TRUSTED_ORIGINS="http://*.local/"