SECRET_KEY="glitchtip"
# postgresql database config
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=glitchtip
DATABASE_PORT=5432
# redis config
REDIS_URL=redis://localhost:6379/13
# smtp email config
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_URL='smtps://user@domain.com:password@smtp.example.com:587'
DEFAULT_FROM_EMAIL="diwa.perkasa@gmail.com"
# domain and csrf config
GLITCHTIP_DOMAIN="http://glitchtip.local"
CSRF_TRUSTED_ORIGINS="http://*.local"
# app config
ENABLE_OPEN_USER_REGISTRATION=FALSE
DEBUG=FALSE